<!DOCTYPE html>
<html>
<head>
    <title>Lab 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">CSE4/510 Lab1</a>
            <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/submit">Create a listing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/my">My Page</a>
                    </li>
                  </ul>
                  </nav>
        <br>


        <div class="container"> 
            <div class="row"> 
                <p id="p1"></p>
            </div>
          </div>
          
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
  var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:5000/getListings', true);
  request.onload = function () {
    var data = JSON.parse(this.response);
    for(var listing in data)
    {
      console.log(listing);
      console.log(data[listing][0])
      console.log(data[listing][1])
      console.log(data[listing][2])
      document.getElementById("p1").innerHTML = document.getElementById("p1").innerHTML +
                        "<div class=\"col\">" +
                        "<div class=\"card\" style=\"width: 18rem;\">" +
                        "<div class=\"card-body\">" +
                        "<h4 class=\"card-title\">" + data[listing][0] + "</h4>" +
                        "<h5 class=\"card-status\">Status: " + data[listing][1] + "</h5>" +
                        "<p class=\"card-text\">" + data[listing][2] + "</p>" + 
                        "<a href=\"#\" class=\"btn btn-primary\">Check it out</a>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
    }
  }
  request.send();
</script>
</html>