<!DOCTYPE html>
<html>
<head>
    <title>Lab 1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">CSE4/510 Lab1</a>
            <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/submit">Create a listing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/my">My Page</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/funds">Add funds</a>
                    </li>
                  </ul>
                  </nav>
        <br>


        <div class="container"> 
                <div class="row" id="p1"></div>
          </div>
          
</body>
<script>
  var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:5000/getListings', true);
  request.onload = function () {
    var data = JSON.parse(this.response);
    for(var listing in data) 
    {
      console.log(listing);
      console.log(data[listing][0]);
      console.log(data[listing][1]);
      console.log(data[listing][2]);
      console.log(document.getElementById("p1").innerHTML);
      document.getElementById("p1").innerHTML = document.getElementById("p1").innerHTML +
                        "<div class=\"col\">" +
                        "<div class=\"card\" style=\"width: 18rem;\">" +
                        "<div class=\"card-body\">" +
                        "<h4 class=\"card-title\">" + data[listing][0] + "</h4>" +
                        "<h5 class=\"card-status\">Status: " + data[listing][1] + "</h5>" +
                        "<p class=\"card-text\">" + data[listing][2] + "</p>" + 
                        "<a href=\"#\" class=\"btn btn-primary\">Check it out</a>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
    }
    console.log(document.getElementById("p1").innerHTML);

  }
  request.send();
</script>
</html>