<!DOCTYPE html>
<html>
<head>
    <title>Lab 1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- <strong>Title</strong> --> {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="http://localhost:5000">CSE4/510 Lab1</a>
            <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/submit">Create a listing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/my">My Page</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://localhost:5000/funds">Add funds</a>
                    </li>
                  </ul>
                  </nav>
        <br>


        <div class="container"> 
                <div class="row" id="p1"></div>
          </div>
          
</body>
<script>
  var request = new XMLHttpRequest();
  request.open('GET', 'http://localhost:5000/getListings', true);
  request.onload = function () {
    var data = JSON.parse(this.response);
    console.log(data);
    for(var listing in data) 
    {
      console.log(listing);
      console.log(data[listing]["user_id"]);
      console.log(document.getElementById("p1").innerHTML);
      document.getElementById("p1").innerHTML = document.getElementById("p1").innerHTML +
                        "<div class=\"col\">" +
                        "<div class=\"card\" style=\"width: 18rem;\">" +
                        "<div class=\"card-body\">" +
                        "<h4 class=\"card-title\">" + data[listing]["title"] + "</h4>" +
                        "<h5 class=\"card-status\">Status: " + data[listing]["status"] + "</h5>" +
                        "<h6 class=\"card-status\">Price: $" + addComma(data[listing]["price"]) + "</h6>" +
                        "<p class=\"card-text\">" + data[listing]["description"] + "</p>" + 
                        "<a href=\"http://localhost:5000/getItem?item=" + data[listing]["listing_id"] +  "\"" + "class=\"btn btn-primary\">Checkout</a>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
    }
    console.log(document.getElementById("p1").innerHTML);

  }
  request.send();

  function addComma(str)
  {
    toReturn = ""
    counter = 0
    for(i=str.length-1; i>=0; i--)
    {
        if(counter == 3)
        {
            counter = 0;
            toReturn = ',' + toReturn;
        }
        {
            toReturn = str.charAt(i) + toReturn;
            counter++;
        }
    }
    return toReturn;
  }

</script>
</html>